

.noticiaPartido {
    height: 463px;
}


body{
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 250px;
}

    
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.logo {
    transition: 0.2s linear;
}

.logo:hover {
    filter: brightness(80%);
}

.img_carrusel {
    width: 100%;
    object-fit: cover;
}

.carnet { 
    width: 800px;
    height: 600px;
 }

 .numSocio {
    margin-top: 305px;
    margin-right: 35px;
 }

 .nombreSocio{
    margin-top: 35px;
 }