@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1600px;
    }
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.noticiaPartido {
    height: 463px;
}


body{
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 250px;
}

    
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.logo {
    transition: 0.2s linear;
}

.logo:hover {
    filter: brightness(80%);
}

.img_carrusel {
    width: 100%;
    object-fit: cover;
}

.carnet { 
    width: 800px;
    height: 600px;
 }

 .numSocio {
    margin-top: 305px;
    margin-right: 35px;
 }

 .nombreSocio{
    margin-top: 35px;
 }

 .cardNoticia{
     height: 120px;
 }