{% extends 'areaPrivada/baseAreaPrivada.html.twig' %}
{% block title %}Socios
{% endblock %}
{% block sidebar %}
	{{ include('areaPrivada/navAreaPrivada.html.twig', { 'seccionActual': "notificaciones" }) }}
{% endblock %}
{% block body %}

	<h1>notificaciones ADMINISTRADORES</h1>

{% endblock %}
