{% extends 'areaPrivada/baseAreaPrivada.html.twig' %}
{% block title %}Noticias
{% endblock %}
{% block sidebar %}
	{{ render(path('menuAreaPrivada', {'seccionActual': "noticias"})) }}
{% endblock %}
{% block body %}
	<div class="container mt-3">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" href="{{ path('nuevaNoticia') }}">Nueva noticia</a>
		<br>
		{% for noticia in noticias %}

			{{ include('baseNoticia.html.twig') }}


		{% else %}
			<p>No hay noticias</p>
		{% endfor %}
	</div>

{% endblock %}
