{% extends 'administradores/baseAdmin.html.twig' %}
{% block title %}Socios
{% endblock %}
{% block sidebar %}
	{{ include('administradores/navAdministradores.html.twig', { 'seccionActual': "socios" }) }}
{% endblock %}
{% block body %}

	<h1>SOCI@S</h1>

{% endblock %}
