{% extends 'areaPrivada/baseAreaPrivada.html.twig' %}
{% block title %}Socios
{% endblock %}
{% block sidebar %}
	{{ include('areaPrivada/navAreaPrivada.html.twig', { 'seccionActual': "socios" }) }}
{% endblock %}
{% block body %}

	<h1>SOCI@S</h1>

{% endblock %}
