{% extends 'areaPrivada/baseAreaPrivada.html.twig' %}
{% block title %}Cuotas
{% endblock %}
{% block sidebar %}
	{{ include('areaPrivada/navAreaPrivada.html.twig', { 'seccionActual': "cuotas" }) }}
{% endblock %}
{% block body %}
	<div class="container mt-5">
		<section class="text-justify">
			<div class="table-responsive">
				{% for cuota in cuotas %}
					{{ include('cuotas/bloqueTablaCuota.html.twig')}}
			</div>
		</section>
	</div>
{% endblock %}
