{% extends 'areaPrivada/baseAreaPrivada.html.twig' %}
{% block title %}Cuotas
{% endblock %}
{% block sidebar %}
	{{ include('areaPrivada/navAreaPrivada.html.twig', { 'seccionActual': "cuotas" }) }}
{% endblock %}
{% block body %}

	<div
		class="container mt-5">

		<!--Section: Content-->
		<section class="text-justify">


			<div class="table-responsive">

				{% for cuota in cuotas %}

					{{ cuota.idSocio.numSocio}}

					<table class="table table-bordered">

						<thead>
							<h2 class="text-center font-weight-bold mb-4 pb-2">{{cuota.ano}}</h2>
							<tr>
								<th scope="col">Enero</th>
								<th scope="col">Febrero</th>
								<th scope="col">Marzo</th>
								<th scope="col">Abril</th>
								<th scope="col">Mayo</th>
								<th scope="col">Junio</th>
								<th scope="col">Julio</th>
								<th scope="col">Agosto</th>
								<th scope="col">Septiembre</th>
								<th scope="col">Octubre</th>
								<th scope="col">Nomviembre</th>
								<th scope="col">Diciembre</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								{% if cuota.enero == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.febrero == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.marzo == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.abril == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.mayo == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.junio == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.julio == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.agosto == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.septiembre == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.octubre == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.noviembre == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.diciembre == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
							</tr>
						</tbody>


					{% else %}
						<p>No hay cuotas</p>

					{% endfor %}


				</table>
			</div>
		</section>
		<!--Section: Content-->

	</div>


{% endblock %}
