{% extends 'areaPrivada/baseAreaPrivada.html.twig' %}
{% block title %}Partido
{% endblock %}
{% block sidebar %}
	{{ render(path('menuAreaPrivada', {'seccionActual': "partidos"})) }}
{% endblock %}

{% block body %}

	{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" href="{{ path('listaEquipos') }}">Equipos</a><br>
		<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" href="{{ path('nuevoPartido') }}">Nuevo Partido</a><br>
	{% endif %}
	<div class="col-md-8 col-lg-6 mx-auto">
		{% for partidos in partidos %}

			{{ include('partidos/basePartidos.html.twig') }}

		{% endfor %}
	</div>
	<br>
{% endblock %}
