{% extends 'base.html.twig' %}
{% block title %}Contacto{% endblock %}
{% block sidebar %}
	{{ include('nav.html.twig', { 'seccionActual': "contacto" }) }}
{% endblock %}
{% block body %}
	<br/>
	<h1>Peña Bética Fontaniega</h1>
	<p>Esta es la página de CONTACTO</p>

{% endblock %}
