{% extends 'base.html.twig' %}
{% block title %}FAQ{% endblock %}
{% block sidebar %}
	{{ include('nav.html.twig', { 'seccionActual': "faq" }) }}
{% endblock %}
{% block body %}
	<br/>
	<h1>Peña Bética Fontaniega</h1>
	<p>Esta la página de FAQ</p>

{% endblock %}
