{% extends 'base.html.twig' %}
{% block title %}Noticias
{% endblock %}
{% block sidebar %}
	{{ include('nav.html.twig', { 'seccionActual': "noticias" }) }}
{% endblock %}
{% block body %}
	<div class="container mt-5">

		{% for noticia in noticias %}

			{{ include('baseNoticia.html.twig') }}


		{% else %}
			<p>No hay noticias</p>
		{% endfor %}
	</div>

{% endblock %}
