{% extends 'base.html.twig' %}
{% block title %}Noticias
{% endblock %}
{% block sidebar %}
	{{ include('nav.html.twig', { 'seccionActual': "noticias" }) }}
{% endblock %}
{% block body %}
	<div class="container mt-5">
		<div class="row">

			{{ include('listaNoticias.html.twig', {'noticias':noticias}) }}

		</div>
	</div>

{% endblock %}
