{% extends 'base.html.twig' %}
{% block title %}Soci@s
{% endblock %}
{% block sidebar %}
	{{ include('nav.html.twig', { 'seccionActual': "socios" }) }}
{% endblock %}
{% block body %}
	<div class="row justify-content-center mb-5 mt-5">
		<div class="col-lg-4 col-md-3">
			<form class="text-center border border-success p-5" action="#!">

				<p class="h4 mb-4">ZONA EXCLUSIVA SOCI@S PEÑA</p>

				<input type="email" id="usuario" class="form-control mb-4" placeholder="Usuario">

				<input type="password" id="contraseña" class="form-control mb-4" placeholder="Contraseña">

				<div class="d-flex justify-content-around">
					<div>
						<a href="" class="text-success">¿Contraseña olvidada?</a>
					</div>
				</div>

				<button class="btn btn-dark-green btn-block my-4 text-white" type="submit">
					<strong>Iniciar Sesión</strong>
				</button>

				<p>
					<a href="{{ path('registroSocio') }}" class="text-success">¿Eres soci@ y no tienes acceso?<strong>
							Regístrate</strong>
					</a>
				</p>

			</form>
		</div>
	</div>

{% endblock %}
